<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="..\static\LogIn.css"/>
</head>
<body>
<div class="sidenav">
         <div class="login-main-text">
            <h1>Strana za prijavu<br></h1>
            <p>Prijavite se na vaš nalog</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <label>Korisničko ime</label>
                     <input type="text" class="form-control" placeholder="Vaše korisničko ime">
                  </div>
                  <div class="form-group">
                     <label>Lozinka</label>
                     <input type="password" class="form-control" placeholder="Vaša lozinka">
                  </div>
                  <button type="submit" class="btn btn-black">Login</button>
				  <br>
                     <label>Nemate nalog? </label>
					<div onclick="RegistracijaClana.html"><button  class="btn btn-secondary">Registrujte se</button><onclick>
               </form>
            </div>
         </div>
      </div>
</body>
</html> 